.tours__content{
    position: relative;
    padding: 28px 16px;
}
.table-container {
    max-height: 620px; /* Đặt chiều cao tối đa của container */
    overflow: scroll;
    box-shadow: 0px 0px 13px 1px rgb(68 37 73 / 50%);
    border-radius: 10px;
    margin-top: 32px;
}
.tours__add{
    content: "";
    position: absolute;
    top: 20px;
    right: 16px;

}
.table{
    border: 1px black;
    position: relative;
}
.table-container thead tr{

    position: sticky;
    top: 0;
     background-color: #61b2d5;
}